<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        在线书城
    </title>
    <meta name="keywords" content="Node.js jQuery 在线商城"/>
    <meta name="description" content=""/>

    <%include template/link.html %>
</head>
<body>
<%include template/topbar.html %>

<%include template/header.html %>

<div class="breadcrumb-box">
    <div class="container">
        <ol class="breadcrumb mb-0">
            <li>
                <a href="../../index.html">
                    首页
                </a>
            </li>
            <li class="active">
                帮助
            </li>
        </ol>
    </div>
</div>

<div class="user-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-20 col">
                <div class="user-side">
                    <dl>
                        <dt>服务</dt>
                        <dd>
                            <a href="help">帮助</a>
                        </dd>

                    </dl>
                </div>
            </div>
            <div class="col-md-12 col-80 col">
                <div class="user-body">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h2 class="title">
                                帮助
                            </h2>暂无</h2>
                            <p>暂无</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<%include template/footer.html %>

<%include template/goback.html %>
<div class="alertbox">

    <script>
        setTimeout("$('.alertbox .alert').fadeOut()", 3000);
    </script>
</div>

<%include template/IE8-support.html %>
</body>
</html>