<div class="footer">
    <div class="foot-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-20 col">
                    <i class="fa fa-wrench"></i> 免费送货服务
                </div>
                <div class="col-md-12 col-20 col">
                    <i class="fa fa-history"></i> 7天无理由退货
                </div>
                <div class="col-md-12 col-20 col">
                    <i class="fa fa-refresh"></i> 15天免费换货
                </div>
                <div class="col-md-12 col-20 col">
                    <i class="fa fa-truck"></i> 满150元包邮
                </div>
                <div class="col-md-12 col-20 col">
                    <i class="fa fa-map-marker"></i> 多家售后网点
                </div>
            </div>
            <div class="border"></div>
        </div>
    </div>
    <div class="foot-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-80 col">
                    <div class="row">
                        <div class="col-md-2 col">
                            <dl>
                                <dt>
                                    帮助中心
                                </dt>
                                <dd>
                                    <a href="/help">购物指南</a>
                                </dd>
                                <dd>
                                    <a href="/help">支付方式</a>
                                </dd>
                                <dd>
                                    <a href="/help">配送方式</a>
                                </dd>
                            </dl>
                        </div>
                        <div class="col-md-2 col">
                            <dl>
                                <dt>
                                    服务支持
                                </dt>
                                <dd>
                                    <a href="/help">售后政策</a>
                                </dd>
                                <dd>
                                    <a href="/help">自助服务</a>
                                </dd>
                                <dd>
                                    <a href="/help">相关下载</a>
                                </dd>
                            </dl>
                        </div>

                        <div class="col-md-2 col">
                            <dl>
                                <dt>
                                    关于书城
                                </dt>
                                <dd>
                                    <a href="/help">了解书城</a>
                                </dd>
                                <dd>
                                    <a href="/help">加入我们</a>
                                </dd>
                                <dd>
                                    <a href="/help">联系我们</a>
                                </dd>
                            </dl>
                        </div>
                        <div class="col-md-2 col">
                            <dl>
                                <dt>
                                    关注我们
                                </dt>
                                <dd>
                                    <a href="/help">新浪微博</a>
                                </dd>
                                <dd>
                                    <a href="/help">官方微博</a>
                                </dd>
                                <dd>
                                    <a href="/help">官方微信</a>
                                </dd>
                            </dl>
                        </div>
                        <div class="col-md-2 col">
                            <dl>
                                <dt>
                                    特色服务
                                </dt>
                                <dd>
                                    <a href="/help">退换货</a>
                                </dd>
                                <dd>
                                    <a href="/help">售后服务</a>
                                </dd>
                                <dd>
                                    <a href="/help">防伪查询</a>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-20 col">
                    <div class="text-center">
                        <h4>400-000-0000</h4>
                        <div class="text">周一至周日 8:00-18:00</div>
                        <div class="text mb-10">（仅收市话费）</div>
                        <a target="_blank" class="btn btn-warning btn-sm"
                           href="http://wpa.qq.com/msgrd?v=3&amp;uin=781113112&amp;site=qq&amp;menu=yes">
                            <i class="fa fa-commenting"></i> 24小时在线客服
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="foot-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col">
                    <div class="media">
                        <div class="media-left">
                            <a href="/home">
                                <img class="media-object" src="/img/logo.svg" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <ul class="list-inline">

                                <li><a href="/home">在线书城</a></li>
                                <li><a href="/help">问题反馈</a></li>
                            </ul>
                            ©chuyun.github.io 楚韵江南 保留所有权利
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col">
                    <div class="text-right">
                        <img src="/img/v-logo-1.png"/>
                        <img src="/img/v-logo-2.png"/>
                        <img src="/img/v-logo-3.png"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>