<!---->
<div class="u-fbox js-fixed">
    <a href="javascript:void(0)" id="gotop">
        <span class="cnt">顶部</span>
    </a>
</div>

<script>
    //回到顶部
    $(window).scroll(function () {
        var sc = $(window).scrollTop();
        var rwidth = $(window).width()
        if (sc > 0) {
            $("#gotop").css("display", "block");
            $("#gotop").css("left", (rwidth - 36) + "px")
        } else {
            $("#gotop").css("display", "none");
        }
    });
    $("#gotop").click(function () {
        var sc = $(window).scrollTop();
        $('body,html').animate({scrollTop: 0}, 500);
    })

</script>