<div class="header">
    <div class="container">
        <a href="/home" class="head-logo pull-left">
            <img src="/img/logo.svg"/>
        </a>
        <ul class="list-inline mb-0 pull-left head-nav">
            <li class="allcat">
                <a href="javascript:;"></a>
            </li>

            <li>
                <a href="/list/Computer">计算机</a>

                <div class="drop-down gd1s">
                    <div class="line"></div>
                    <div class="container">
                        <div class="row">

                            <div class="col-md-2 col">
                                <div class="pro">
                                    <a class="img-div" href="/book/?7115226261">
                                        <img src="https://img1.doubanio.com/lpic/s4399937.jpg"/>
                                    </a>
                                    <a href="/book/?7115226261" class="title">鸟哥的Linux私房菜</a>
                                    <div class="price">88元</div>
                                </div>
                            </div>

                            <div class="col-md-2 col">
                                <div class="pro">
                                    <a class="img-div" href="/book/?7111358406">
                                        <img src="https://img3.doubanio.com/lpic/s6951030.jpg"/>
                                    </a>
                                    <a href="/book/?7111358406" class="title">黑客</a>
                                    <div class="price">69元</div>
                                </div>
                            </div>

                            <div class="col-md-2 col">
                                <div class="pro">
                                    <a class="img-div" href="/book/?7121085119">
                                        <img src="https://img3.doubanio.com/lpic/s3724604.jpg"/>
                                    </a>
                                    <a href="/book/?7121085119" class="title">程序员的自我修养</a>
                                    <div class="price">65元</div>
                                </div>
                            </div>

                            <div class="col-md-2 col">
                                <div class="pro">
                                    <a class="img-div" href="/book/?7115147310">
                                        <img src="https://img3.doubanio.com/lpic/s4436543.jpg"/>
                                    </a>
                                    <a href="/book/?7115147310" class="title">UNIX环境高级编程</a>
                                    <div class="price">99元</div>
                                </div>
                            </div>

                            <div class="col-md-2 col">
                                <div class="pro">
                                    <a class="img-div" href="/book/?7115216347">
                                        <img src="https://img3.doubanio.com/lpic/s6103451.jpg"/>
                                    </a>
                                    <a href="/book/?7115216347" class="title">软件随想录</a>
                                    <div class="price">49元</div>
                                </div>
                            </div>

                            <div class="col-md-2 col">
                                <div class="pro">
                                    <a class="img-div" href="/book/?7115399026">
                                        <img src="https://img3.doubanio.com/lpic/s28281864.jpg"/>
                                    </a>
                                    <a href="/book/?7115399026" class="title">Web全栈工程师的自我修养</a>
                                    <div class="price">128元</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </li>

            <li>
                <a href="pro/term/17.html">互联网</a>

                <div class="drop-down gd1s">
                    <div class="line"></div>
                    <div class="container">
                        <div class="row">

                            <div class="col-md-2 col">
                                <div class="pro">
                                    <a class="img-div" href="/book/?7115281483">
                                        <img src="https://img1.doubanio.com/lpic/s11329547.jpg"/>
                                    </a>
                                    <a href="/book/?7115281483" class="title">HTTP权威指南</a>
                                    <div class="price">109元</div>
                                </div>
                            </div>

                            <div class="col-md-2 col">
                                <div class="pro">
                                    <a class="img-div" href="/book/?7121160722">
                                        <img src="https://img3.doubanio.com/lpic/s8977570.jpg"/>
                                    </a>
                                    <a href="/book/?7121160722" class="title">白帽子讲Web安全</a>
                                    <div class="price">69元</div>
                                </div>
                            </div>

                            <div class="col-md-2 col">
                                <div class="pro">
                                    <a class="img-div" href="/book/?7115351538">
                                        <img src="https://img3.doubanio.com/lpic/s27283822.jpg"/>
                                    </a>
                                    <a href="/book/?7115351538" class="title">图解HTTP</a>
                                    <div class="price">49元</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </li>

            <li>
                <a href="/list/design">设计</a>

                <div class="drop-down gd1s">
                    <div class="line"></div>
                    <div class="container">
                        <div class="row">

                            <div class="col-md-2 col">
                                <div class="pro">
                                    <a class="img-div" href="/book/?7115188122">
                                        <img src="https://img3.doubanio.com/lpic/s23486434.jpg"/>
                                    </a>
                                    <a href="/book/?7115188122" class="title">写给大家看的设计书</a>
                                    <div class="price">68元</div>
                                </div>
                            </div>

                            <div class="col-md-2 col">
                                <div class="pro">
                                    <a class="img-div" href="/book/?7115248494">
                                        <img src="https://img1.doubanio.com/lpic/s4656028.jpg"/>
                                    </a>
                                    <a href="/book/?7115248494" class="title">软件框架设计的艺术</a>
                                    <div class="price">75元</div>
                                </div>
                            </div>

                            <div class="col-md-2 col">
                                <div class="pro">
                                    <a class="img-div" href="/book/?7508644174">
                                        <img src="https://img1.doubanio.com/lpic/s27224268.jpg"/>
                                    </a>
                                    <a href="/book/?7508644174" class="title">知日·设计力</a>
                                    <div class="price">29元</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </li>

            <li>
                <a href="/list/Humanities">人文社科</a>

                <div class="drop-down gd1s">
                    <div class="line"></div>
                    <div class="container">
                        <div class="row">

                            <div class="col-md-2 col">
                                <div class="pro">
                                    <a class="img-div" href="/book/?7108040271">
                                        <img src="https://img3.doubanio.com/lpic/s22707844.jpg"/>
                                    </a>
                                    <a href="/book/?7108040271" class="title"> 为什么不杀光？</a>
                                    <div class="price">28元</div>
                                </div>
                            </div>

                            <div class="col-md-2 col">
                                <div class="pro">
                                    <a class="img-div" href="/book/?7543933608">
                                        <img src="https://img3.doubanio.com/lpic/s2697553.jpg"/>
                                    </a>
                                    <a href="/book/?7543933608" class="title">没有我们的世界</a>
                                    <div class="price">15元</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </li>

            <li>
                <a href="/list/develop">软件开发</a>

                <div class="drop-down gd1s">
                    <div class="line"></div>
                    <div class="container">
                        <div class="row">

                            <div class="col-md-2 col">
                                <div class="pro">
                                    <a class="img-div" href="/book/?7115411913">
                                        <img src="https://img1.doubanio.com/lpic/s29105337.jpg"/>
                                    </a>
                                    <a href="/book/?7115411913" class="title">React Native入门与实战</a>
                                    <div class="price">79元</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </li>

            <li>
                <a href="/list/develop">默认分类</a>

                <div class="drop-down gd1s">
                    <div class="line"></div>
                    <div class="container">
                        <div class="row">

                            <div class="col-md-2 col">
                                <div class="pro">
                                    <a class="img-div" href="/book/?7115241163">
                                        <img src="https://img1.doubanio.com/lpic/s4532717.jpg"/>
                                    </a>
                                    <a href="/book/?7115241163" class="title">Android开发入门教程</a>
                                    <div class="price">59元</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </li>

        </ul>
        <!--Search TODO-->
        <form class="head-search pull-right pr" method="get" action="/search">
            <div class="input-group">
                <input type="text" name="s" class="form-control" id="search-input">
                <span class="input-group-addon" id="search">
                    <i class="fa fa-search"></i>
                </span>
            </div>
            <div class="keywords">
                <a href="/search/React">React</a>
                <a href="/search/Python">Python</a>
            </div>
        </form>

        <script>

            $('#search').bind('click',function () {
                var bookName=$('#search-input').val();
                var data={'bookName':bookName};

                $.ajax({
                    url:'search/:name',
                    type:'POST',
                    data:data,
                    success:function (data,status) {
                        if (status === 'success') {
                            console.log("OK");
                        }
                    },
                    error:function (data,err) {
                        console.log(err);
                    }
                })
            })

        </script>



        <script>
            $('.head-search input').focus(function () {
                $('.head-search .keywords').css('display', 'none');
                $('.head-search').addClass('active');
            });
            $('.head-search input').blur(function () {
                $('.head-search .keywords').css('display', 'block');
                $('.head-search').removeClass('active');
            });
            $('.head-search .input-group-addon').click(function () {
                $('.head-search').submit();
            });
        </script>
    </div>
</div>