<!--[if lte IE 8]>
<div class="browser-msg text-center">
    <p class="txt">
        为了获得更好的浏览体验，建议使用以下浏览器：
    </p>
    <ul class="browsers">
        <li>
            <a href="http://www.google.cn/intl/zh-cn/chrome/browser/desktop/index.html"
               target="_blank">
                <img class="icon" src="/img/chrome.png" width="50" height="50">
                <span class="name">
					Chrome
				</span>
            </a>
        </li>
        <li>
            <a href="http://www.firefox.com.cn" target="_blank">
                <img class="icon" src="/img/firefox.png" width="50" height="50">
                <span class="name">
					Firefox
				</span>
            </a>
        </li>
        <li>
            <a href="http://www.apple.com/cn/safari/" target="_blank">
                <img class="icon" src="/img/safari.png" width="50" height="50">
                <span class="name">
					Safari
				</span>
            </a>
        </li>
        <li>
            <a href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie" target="_blank">
                <img class="icon" src="/img/ie.png" width="50" height="50">
                <span class="name">
					IE9及更高版
				</span>
            </a>
        </li>
    </ul>
</div>
<![endif]-->