<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/main.css">
<link rel='stylesheet' href='../css/bootstrap.min.css'/>
<link rel='stylesheet' href='../css/font-awesome.min.css'/>
<link rel='stylesheet' href='../css/style.css'/>
<link rel='stylesheet' href='../css/media.css'/>
<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<!--[if lt IE 9]>
<script src="../js/lib/html5shiv.min.js"></script>
<script src="../js/lib/respond.min.js"></script>
<![endif]-->